body { 
    font-family: arialm sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

header h1 { 
    color: #00adb5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
}

.botão-email {
    background-color: #00adb5;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s ease;
    margin-top: 10px;

}
/* Efeito para quando o mouse passar por cima */
.botão-email:hover {
    background-color: #007d82;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.botao-whatsapp {
    background-color : #25d366;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
    margin-top: 10px;
}

.botão-whatsapp:hover {
    background-color: #128c7e;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}
/* Isso adiciona um espaço entre o ícone e o texto */
.botão-email i, .botao-whatsapp i {
    margin-right: 8px;
    font-size: 1.1em; /* Deixa o ícone um pouquinho maior */
}

