body { 
    font-family: arialm sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

header h1 { 
    color: #00adb5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
}