body { 
    font-family: arialm sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

header h1 { 
    color: #00adb5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
}

.botao-email, .botao-whatsapp {
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Cor específica do E-mail */
.botao-email {
    background-color: #007d82;
}

/* Cor específica do WhatsApp */
.botao-whatsapp {
    background-color: #25d366;
}

/* Efeito de passar o mouse (Hover) para ambos */
.botao-email:hover, .botao-whatsapp:hover {
    transform: scale(1.05);
    opacity: 0.8; /* Efeito "apagadinho" */
}

/* Espaço entre o ícone e o texto */
.botao-email i, .botao-whatsapp i {
    margin-right: 8px;
}